<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrdenChef.Properties.Settings.OrdenChefDBConnectionString"
            connectionString="Data Source=Yami\SQLEXPRESS;Initial Catalog=OrdenChefDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>